{% extends "FOSUserBundle:Base:base.html.twig" %}
{% block fos_user_content %}
<div class="main-wrap-page">
    <div class="overlay-bg"></div>
    <div class="ui container">
        <div class="ui grid margin0">
            <div class="sixteen wide mobile sixteen wide tablet eight wide computer column" align="right">
                <div id="login-div" style="display:block">
                   <form action="{{ path('fos_user_security_check') }}" method="POST">
                        <div class="login-form">
                            <h2 class="text-banner">Login here</h2>
                            <h4 class="text-banner"></h4>
                            <div class="spacer"></div>
                            <div class="spacer"></div>
                            <div class="ui form">
                            <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
                            
                            <label for="username">{{ 'security.login.username'|trans({}, 'FOSUserBundle') }}</label>
						    <input type="text" id="username" name="_username" value="{{ last_username }}" required="required" />

						    <label for="password">{{ 'security.login.password'|trans({}, 'FOSUserBundle') }}</label>
						    <input type="password" id="password" name="_password" required="required" />

						    <input type="checkbox" id="remember_me" name="_remember_me" value="on" />
						    <label for="remember_me">{{ 'security.login.remember_me'|trans({}, 'FOSUserBundle') }}</label>
			            
			 				<div class="spacer"></div>
                                
                                <button class="ui button uppercase big green" name="_submit" value="{{ 'security.login.submit'|trans({}, 'FOSUserBundle') }}">Login </button>
                                
                                <a href="{{ path('fos_user_resetting_request') }}" style="float:right;">Outch Forgot password ?</a>
                            </div>
                        </div>
                    </form>
                </div>
                {% if error %}
			    <div>{{ error|trans({}, 'FOSUserBundle') }}</div>
				{% endif %}
            </div>
        </div>
    </div>
</div>
{% endblock fos_user_content %}